{% extends "main/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block css_scripts %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}" />
{% endblock %}

{% block header %}
	{% include 'profiles/header.html' with profile=profile %}
{% endblock %}

{% block content %}

	<h1>{{ submission.title }}</h1>
	<p>by: <a href="{% url 'profiles:userpage' profile.username %}">{{ profile.username }}</a></p>
	<div class="clear height-10"></div>
	
	<div class="submission_item">
		{% if submission.file_mime in MIMES_AUDIO %}
			<p>Audio player not yet implemented.</p>
		{% elif submission.file_mime in MIMES_IMAGE %}

			{% if submission.file_width > 600 %}
				{% thumbnail submission.file "600" as im %}
					<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
				{% endthumbnail %}
			{% else %}
				<img src="{{ submission.file.url }}"/>
			{% endif %}
				
		{% elif submission.file_mime in MIMES_FLASH %}
			<p>Flash player not yet implemented.</p>
		{% else %}
			<p>Cannot render file (unknown type).</p>
		{% endif %}
	</div>
	
	{% if user.is_authenticated %}
	<div class="submission_options">
		<a href="{% url 'favourites:add' profile.username submission.id %}">+Add to favourites</a>
		<a href="{{ submission.file.url }}">Download</a>
	</div>
	{% endif %}
	
	<div class="clear height-10"></div>
	<div class="submission_info">
		<div class="description">
			<p>{{ submission.description }}</p>
		</div>
		<div class="details">
			<ul>
				<li>Rating: <span class="highlight">{{ submission.get_rating_display }}</span></li>
			</ul>
		</div>
	</div>
	
	<div class="clear height-10"></div>
	<div class="comments">
		{% if user.is_authenticated %}
			{% include "main/form.html" with form=form title="Leave a comment..." %}
		{% else %}
			<p>Please log in to post comments.</p>
		{% endif %}
		
		{% for comment in comments %}
			<div class="comment">
				<div class="header">
					<a href="{% url 'profiles:userpage' comment.profile.username %}">{{ comment.profile }}</a>
					<span class="fright">{{ comment.date_created }}</span>
				</div>
				<div class="content">
					{{ comment.content }}
				</div>
			</div>
		{% empty %}
			<div class="comment">
				No comments yet.
			</div>
		{% endfor %}
		
	</div>
	
{% endblock %}