body{
	top:0;
	margin:0;
	padding: 0;
	background: #AAAAAA;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	font-size: 14px;
	background: url('bg.png') repeat;
}

div#page{
	margin: 0 auto;
	width:960px;
	background:#AAAAAA;
}

div.page_header{
	background-color: rgba(0, 0, 0, 0.5);
	height:30px;
}

div.page_header .header_container{
	height:30px;
	margin: 0 auto;
	width:960px;
	color: white;
    text-shadow: 0px 1px 1px #000;
}

.fleft{
	float:left;
}
.fright{
	float:right;
}
