body{
	top:0;
	margin:0;
	padding: 0;
	background: #AAAAAA;
	/*font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;*/
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	background: url('bg.png') repeat;
	height:100%;
}

#page_container{
	min-height:100%;
    position:relative;
}

.fleft{float:left;}
.fright{float:right;}
div.clear{clear:both;}
.height-10{height: 10px;}
.height-20{height: 20px;}
.height-30{height: 30px;}

a, a:visited, a:hover{
	color:white;
	text-decoration: none;
}

a.button{
	border-radius: 15px;
	padding:5px 10px;
	background: #676D7B;
}
a.button.blue{background: #244371;}
a.button.gray{background: #465568;}

form.modelform{
	padding:20px;
}
form.modelform ul.errorlist{
	color: #BB2B2C;
}

form.modelform input[type=checkbox]{
	margin:10px;
}

form.modelform input[type=text],
form.modelform textarea,
form.modelform input[type=password]{
	margin:10px;
	padding:3px;
	background: #323232;
	border: 1px solid #111111;
	color: #888888;
}

form.modelform input[type=submit]{
	border:none;
	border-radius:5px;
	background: #111111;
	color: #888888;
	padding:5px;
}
form.modelform input[type=submit]:hover{
	background: #222222;
}

form.modelform table tr td{
	vertical-align: middle;
}

h1{
	color: #858B97;
	font-weight: bold;
	font-size: 24px;
	text-transform:capitalize;
}

h2{
	color: #858B97;
	font-weight: bold;
	font-size: 16px;
	text-transform:capitalize;
	padding-bottom:5px;
	border-bottom: 1px solid #595C61;
	margin-bottom:5px;
}

.light_back{
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	padding:3px;
}

div.page_header{
	background-color: rgba(0, 0, 0, 0.5);
	height:30px;
}

div.page_header .header_container{
	height:30px;
	margin: 0 auto;
	width:960px;
	color: white;
    text-shadow: 0px 1px 1px #000;
    line-height: 28px;
}

div#page_logo{
	height:200px;
	margin: 0 auto;
	width:960px;
}

div#page{
	margin: 0 auto;
	width:960px;
	padding-bottom:40px;
}

.top_nav{
	height:30px;
	background: #4D6089;
	border-radius: 10px 10px 0px 0px;
}
.top_nav ul{
	float:left;
	width:500px;
}
.top_nav li{
	display: inline;
	list-style-type: none;
	padding:2px 20px;
	color:#AABCE4;
	font-size:16px;
	line-height: 30px;
	height: 30px;
}
.top_nav li:hover{
	background: #284974;
}
.top_nav li.first:hover{
	background: #284974;
	border-radius: 10px 0px 0px 0px;
}
.top_nav li a{color:#AABCE4;}
.top_nav li:hover a{color:#FFFFFF;}

.top_nav .top_search{
	line-height: 28px;
	height:30px;
	float:right;
	background: #676D7B;
	padding:0px 10px;
	border-radius: 0px 10px 0px 0px;
}



#page .main_content{
	color: #AABCE4;
	background: #2A2E31;
	min-height: 400px;
	width:920px;
	margin: 0 auto;
	padding:20px;
}

#page_footer{
	margin-top:40px;
	background: #2A2E31;
	height: 30px;
	color:white;
	bottom:0;
	position:absolute;
	width:100%;
}

#page_footer .footer_container{
	width:960px;
	line-height: 30px;
	margin: 0 auto;
}

/* overall comments */
.comment{
	background: rgba(0,0,0,0.1);
	padding:5px;
}
.comment .header{
	border-bottom: 2px solid #595C61;
	margin-bottom: 5px;
}

.comment .content{
	min-height: 100px;
}
