{% load staticfiles %}
<div class="profile_header">
	<div class="info">
		<a href="{% url 'profiles:userpage' profile.username %}">
			<img src="{% static 'profiles/av_placeholder.png' %}" width="100px" height="100px"/>
		</a>
		<div class="text">
			<h1><a href="{% url 'profiles:userpage' profile.username %}">{{ profile }}</a></h1>
			<p>Full name: TODO</p>
			<p>Registered since: {{ profile.date_joined }}</p>
			<br>
			<a href="{% url 'profiles:watch' profile.username %}" class="button blue">WATCH</a>
			<a href="#" class="button gray">SEND NOTE</a>
		</div>
	</div>
	<div class="stats">
		<table>
			<tr>
				<td>Pageviews: <span class="highlight">TODO</span></td>
				<td>Comments given: <span class="highlight">TODO</span></td>
			</tr>
			<tr>
				<td>Submissions: <span class="highlight">{{ profile.get_submissions_count }}</span></td>
				<td>Journals: <span class="highlight">{{ profile.get_journals_count }}</span></td>
			</tr>
			<tr>
				<td>Comments recieved: <span class="highlight">TODO</span></td>
				<td>Favourites: <span class="highlight">TODO</span></td>
			</tr>
		</table>
		
		<ul>
			<li class="first">
				<a href="{% url 'profiles:userpage' profile.username %}">USERPAGE</a>
			</li>
			<li>
				<a href="{% url 'gallery:index' profile.username %}">GALLERY</a>
			</li>
			<li>
				<a href="{% url 'journals:index' profile.username %}">JOURNAL</a>
			</li>
			<li>
				<a href="{% url 'favourites:index' profile.username %}">FAVOURITES</a>
			</li>
		</ul>
		
	</div>
</div>