{% extends "main/base.html" %}
{% load staticfiles %}

{% block css_scripts %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />
{% endblock %}

{% block header %}
	{% include 'profiles/header.html' with profile=profile %}
{% endblock %}

{% block content %}
	<div class="profile_conent">
		<div class="left">
			{% if last_submissions %}
				<div id="last_submission" class="light_back">
					<h2>Latest submission</h2>
					<a href="{% url 'gallery:view' last_submissions.0.profile.username last_submissions.0.id %}">
						<img src="{{ last_submissions.0.file.url }}" width="300px" height="auto" />
					</a>
					<br>
					<a class="title" href="{% url 'gallery:view' last_submissions.0.profile.username last_submissions.0.id %}">{{ last_submissions.0.title }}</a>
				</div>
				<div id="gallery" class="light_back">
					<h2>Gallery</h2>
					{% for submission in last_submissions %}
						<div class="submission_item">
							<div class="img">
								<a href="{% url 'gallery:view' submission.profile.username submission.id %}">
									<img src="{{ submission.file.url }}" width="150px" height="auto" />
								</a>
							</div>
							<div class="meta">
								<a class="title" href="{% url 'gallery:view' submission.profile.username submission.id %}">{{ submission.title }}</a>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<div class="right">
			{% if last_journal %}
				<div id="last_journal" class="light_back">
					<h2>{{ last_journal.title }}</h2>
					<p>{{ last_journal.content|linebreaksbr }}</p>
					<p class="foot">Posted on: {{ last_journal.date_created }} <a href="{% url 'journals:view' last_journal.id %}">Read more</a></p>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}