{% extends "main/base.html" %}
{% load staticfiles %}

{% block css_scripts %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />
{% endblock %}

{% block content %}
	{% block profile_header %}
		<div class="profile_header">
			<div class="info">
				<img src="{% static 'profiles/av_placeholder.png' %}" width="100px" height="100px"/>
				<div class="text">
					<h1>{{ profile }}</h1>
					<p>Full name: TODO</p>
					<p>Registered since: {{ profile.date_joined }}</p>
					<br>
					<a href="#" class="button blue">WATCH</a>
					<a href="#" class="button gray">SEND NOTE</a>
				</div>
			</div>
			<div class="stats">
				<table>
					<tr>
						<td>Pageviews: <span class="highlight">TODO</span></td>
						<td>Comments given: <span class="highlight">TODO</span></td>
					</tr>
					<tr>
						<td>Submissions: <span class="highlight">TODO</span></td>
						<td>Journals: <span class="highlight">TODO</span></td>
					</tr>
					<tr>
						<td>Comments recieved: <span class="highlight">TODO</span></td>
						<td>Favourites: <span class="highlight">TODO</span></td>
					</tr>
				</table>
				
				<ul>
					<li class="first">
						<a href="#">USERPAGE</a>
					</li>
					<li>
						<a href="#">GALLERY</a>
					</li>
					<li>
						<a href="#">JOURNAL</a>
					</li>
					<li>
						<a href="#">FAVOURITES</a>
					</li>
				</ul>
				
			</div>
		</div>
	{% endblock %}
	<p>{{ profile }}</p>
{% endblock %}