.login_window{
	min-width: 400px;
	max-width: 960px;
	padding:20px;
	top:400px;
	margin: auto;
	border-radius: 10px;
	border: 1px solid #FF9900;
	background: white;
	text-align: center;
}

.login_window table{
	margin: 0 auto;
}

.login_window input{
	border:none;
}
.login_window label{
	
	color: #FF9900;
}

.login_window input[type=text], .login_window input[type=password]{
	border-bottom: 1px solid #FF9900;
    padding: 5px;
}

.login_window input[type=submit]{
	background: #FF9900;
	color: white;
	padding:2px;
}
.login_window input[type=submit]:hover{
	background: #FFB444;
}