
.profile_header{
	color: #858B97;
	height: 120px;
	background: #191A1E;
	color: #858B97;
}

.profile_header .info{
	float:left;
	width:400px;
}
.profile_header .info img{
	padding:10px;
	float:left;
}
.profile_header .info .text{
	padding-top:10px;
	float:left;
}

.profile_header .stats{
	float:right;
	height: 120px;
	position:relative;
	width: 510px;
}
.profile_header .stats table{
	margin-top:10px;
}
.profile_header .stats table .highlight{
	color:#A1A2A4;
}
.profile_header .stats table td{
	color: #858B97;
	padding:2px 5px;
	font-size:16px;
}
.profile_header .stats ul{
	background: #2A2E31;
	height:35px;
	position:absolute;
	bottom:0;
	right:0;
	border-radius: 10px 0 0 0;
}

.profile_header .stats ul li{
	display: inline;
	list-style-type: none;
	padding:0px 8px;
	line-height: 40px;
}
.profile_header .stats ul li a{
	color: #595C61;
	font-size:18px;
}
.profile_header .stats ul li a:hover{color: #C87F22;}


/* Profile Content */

.profile_conent{
	overflow:hidden;
}
.profile_conent .left{
	float:left;
	width:450px;
}
.profile_conent .right{
	float:right;
	width:450px;
}
.profile_conent #last_submission, .profile_conent #gallery{
	text-align: center;
	margin-bottom:10px;
}
.profile_conent #last_journal h2{
	text-align: center;
}

.profile_conent .foot{
	padding-top: 5px;
	border-top: 1px solid #595C61;
	margin-top: 5px;
}

.profile_conent #gallery{
	overflow: hidden;
}
.profile_conent #gallery .submission_item{
	float:left;
	padding:0 10px;
	width:200px;
	height: 200px;
}
