{% extends "main/base.html" %}
{% load staticfiles %}

{% block css_scripts %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />
{% endblock %}

{% block content %}

	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	
	<form class="modelform" method="post" action="{% url 'profiles:login' %}">
		{% csrf_token %}
		<table>
			<tr>
			    <td>{{ form.username.label_tag }}</td>
			    <td>{{ form.username }}</td>
			</tr>
			<tr>
			    <td>{{ form.password.label_tag }}</td>
			    <td>{{ form.password }}</td>
			</tr>
		</table>
		
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{% url 'profiles:index' %}" />
	</form>

{% endblock %}