{% extends "main/base.html" %}
{% load staticfiles %}

{% block css_scripts %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />
{% endblock %}

{% block header %}
	{% include 'profiles/header.html' with profile=profile %}
{% endblock %}

{% block content %}
	{% for journal in journals %}
		<div class="journal_window">
			<h1>{{ journal.title }}</h1>
			<p>{{ journal.date_created }}</p>
			<p>{{ journal.content|linebreaksbr }}</p>
			
			<a href='#'>Read more</a>
		</div>
	{% empty %}
		<p>No journals posted.</p>
	{% endfor %}
{% endblock %}