{% extends "main/base.html" %}
{% load staticfiles %}

{% block css_scripts %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />
{% endblock %}

{% block content %}
	<h1>My journals:</h1>
	<div class="height-10"></div>
	<a href="{% url 'journals:edit' %}">(+) Create new journal</a>
	<div class="height-20"></div>
	<ul>
		{% for journal in journals %}
			<li>
				{{ journal }}
				<span class="fright"><a href="{% url 'journals:edit' journal.id %}">edit</a> | <a href="{% url 'journals:delete' journal.id %}">delete</a></span>
			</li>
		{% empty %}
			<li>No journals.</li>
		{% endfor %}
	</ul>
{% endblock %}