{% extends "main/base.html" %}
{% load staticfiles %}

{% block css_scripts %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'profiles/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'journals/style.css' %}" />
{% endblock %}

{% block header %}
	{% include 'profiles/header.html' with profile=profile %}
{% endblock %}

{% block content %}
	<div class="journal_window">
		<h1>{{ journal.title }}</h1>
		<p>{{ journal.content|linebreaksbr }}</p>
		
		<p class="date">Posted on: {{ journal.date_created }}</p>
	</div>
{% endblock %}