{% if form.is_multipart %}
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">
{% else %}
    <form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post" action="">
{% endif %}
	{% csrf_token %}

{#    {% for field in form.hidden_fields %}#}
{#        {{ field }}#}
{#    {% endfor %}#}

    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-4">
                {{ field }}
            </div>
        </div>
        {% if field.errors %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    {{ field.errors }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% if form.non_field_errors %}
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-4">
                {{ form.non_field_errors }}
            </div>
        </div>
    {% endif %}

	<div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">{{ submit|default:"Submit" }}</button>
        </div>
    </div>
</form>